@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container {
  overflow: hidden;
}
  
.slides {
  display: flex;
  width: 200%;
}
  
.slide {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
  
.logo {
  flex-basis: var(--logo-width, 12.5%);
}
  